<div class="row">
  <div
    class="col-3"
    *ngFor="let usuario of usuariosFiltrado; even as esPar; odd as esImpar"
  >
    <div
      class="card"
      style="width: 18rem"
      [ngStyle]="{ 'background-color': esPar ? 'lightgray' : 'lightblue' }"
    >
      <img [src]="usuario.avatar" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          {{ usuario.first_name | uppercase }}
          {{ usuario.last_name | uppercase }}
        </h5>
        <p class="card-text">
          {{ usuario.email }}
        </p>
        <a
          class="btn"
          [routerLink]="['/usuarios', usuario.id]"
          [ngClass]="esPar ? 'btn-primary' : 'btn-success'"
          >Detalle HTML</a
        >
        <a
          class="btn"
          (click)="irDetalleUsuario(usuario.id)"
          [ngClass]="esImpar ? 'btn-primary' : 'btn-success'"
          >Detalle TS</a
        >
      </div>
    </div>
  </div>
</div>
